<nb-card>
  <nb-card-body>
  <table class="table table-hover"  id="myTable">
    <thead  align='center'>
        <tr>
        <th scope="col"></th>
        <th scope="col"><h5>Monday</h5></th>
        <th scope="col"><h5>Tuesday</h5></th>
        <th scope="col"><h5>Wednesday</h5></th>
        <th scope="col"><h5>Thurdsay</h5></th>
        <th scope="col"><h5>Friday</h5></th>
        <th scope="col"><h5>Saturday</h5></th>
        <th scope="col"><h5>Sunday</h5></th>
      </tr>
    </thead>
    <tr>
        <td scope="row">
            <h6>In:</h6>
          </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[0]}}" #start_1>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[1]}}" #start_2>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[2]}}" #start_3>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[3]}}" #start_4>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[4]}}" #start_5>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[5]}}" #start_6>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriStart[6]}}" #start_7>
      </td>
          </tr>
    <tr>
        <td scope="row">
            <h6>Out:</h6>
          </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[0]}}" #end_1>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[1]}}" #end_2>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[2]}}" #end_3>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[3]}}" #end_4>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[4]}}" #end_5>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[5]}}" #end_6>
      </td>
      <td scope="row">
        <input type="time" class="form-control" value = "{{this.oriEnd[6]}}" #end_7>
      </td>
    </tr>
</table>
</nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
          <h5 align='center'>
            Quickly add
          </h5>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="all" (click)="allSel()" id="all"><label class="custom-control-label" for="all"> Select all</label></div>
              <div class="dropdown-divider"></div>
              <div class="row">
              <div class="col-md-6">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="days[0]" id="mon"><label class="custom-control-label" for="mon"> Monday</label></div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="days[1]" id="tue"><label class="custom-control-label" for="tue"> Tuesday</label></div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="days[2]" id="wed"><label class="custom-control-label" for="wed"> Wednesday</label></div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="days[3]" id="thu"><label class="custom-control-label" for="thu"> Thursday</label></div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" [(ngModel)]="days[4]" id="fri"><label class="custom-control-label" for="fri"> Friday</label></div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="days[5]" id="sat"><label class="custom-control-label" for="sat"> Saturday</label></div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" [(ngModel)]="days[6]" id="sun"><label class="custom-control-label" for="sun"> Sunday</label></div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="customRadio" (change)="change(0)" [value]="in" id="in">
                            <label for="in" class="custom-control-label"> In</label>
                          </div>
                          <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="customRadio" (change)="change(1)" [value]="out" id="out">
                            <label for="out" class="custom-control-label"> Out</label>
                          </div>
                        </div>
                        </div>
                      </div>
                        </div>
          <div class="col-md-6">
            <input type="time" class="form-control" [(ngModel)] = "time">
            <div class="p-1">
            <button class="btn-block" nbButton [status]="'primary'" (click)="addThem()">
              Add
            </button>
          </div>
          </div>
        </div>
      </nb-card-body>
      </nb-card>
  </div>

<div class="col-md-6">
  <nb-card>
    <nb-card-body>
      <button class="btn-block" nbButton [status]="'success'" (click)="submit(start_1.value, start_2.value, start_3.value,
      start_4.value, start_5.value, start_6.value, start_7.value,
      end_1.value, end_2.value, end_3.value, end_4.value,
      end_5.value, end_6.value, end_7.value)"><i class="fas fa-calendar-alt"></i> &nbsp;Add Schedule</button>
      <button [routerLink]="['/pages/management']" class="btn-block" nbButton [status]="'info'"><i class="fas fa-arrow-circle-left"></i> &nbsp;Back</button>
      <button (click)="deleteSchedule()" class="btn-block" nbButton [status]="'danger'"><i class="far fa-trash-alt"></i>&nbsp; Delete</button>
</nb-card-body>
</nb-card>
</div>
</div>