<nb-card>
    <nb-card-body>
      <div style='margin-bottom: 10px;' class='row'>
      <input class="search" nbInput type="text" placeholder="Buscar..." [(ngModel)]="searchStr" (ngModelChange)="search(searchStr, searchWr)">
      <nb-select [(ngModel)]='searchWr' style="margin-left: 5px;" (ngModelChange)=check($event)>
        <nb-option value="" disabled>Elija donde filtrar:</nb-option>
        <nb-option *ngFor='let obj of searchFields' [value]="obj.value">{{obj.show}}</nb-option>
      </nb-select>
      <div *ngIf="show" class="text-danger">
        <small>Elija un campo para buscar.</small>
    </div>
    </div>
      <ng2-smart-table [settings]="settings" [source]="source" (edit)='hola1($event)' (delete)='hola3($event)'>
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <div style='margin-top: 5px;' class='row'>
    <div class="col-md-5">
    <nb-card>
        <nb-card-header align='center'>
            <i>Leyenda</i>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-6">
            <label class="label">Nivel de alertas:</label>
            <br>
            <button class="btn btn-sm btn-success" disabled><i class="fas fa-battery-empty"></i></button><label class="label">: Alerta baja.&nbsp;</label>
            <br>
            <button class="btn btn-sm btn-warning" disabled><i class="fas fa-battery-half"></i></button><label class="label">: Alerta media.&nbsp;</label>
            <br>
            <button class="btn btn-sm btn-danger" disabled><i class="fas fa-battery-full"></i></button><label class="label">: Alerta alta.&nbsp;</label>
          </div>
                <div class="col-md-6">
                <label class="label">Revisado:</label>
                <br>
                    <button class="btn btn-sm btn-danger" disabled><i class="fas fa-times-circle"></i></button><label class="label">: No revisado.&nbsp;</label>
                    <br>
                    <button class="btn btn-sm btn-info" disabled><i class="fas fa-check-circle"></i></button><label class="label">: Revisado.&nbsp;</label>
                        </div>
                      </div>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-7">
      <nb-card>
        <nb-card-header align='center'>
          <i>Resumen</i>
      </nb-card-header>
        <nb-card-body>
          <div class="row">
          <div class="col-md-6">
          <label align='right' class="label">Alertas altas:&nbsp;</label>
          <strong>
            {{count.l2}}
          </strong>
          <br>
          <label align='right' class="label">Alertas medias:&nbsp;</label>
          <strong>{{count.l1}}</strong><br>
            <label align='right' class="label">Alertas bajas:&nbsp;</label>
            <strong>{{count.l0}}</strong>
          </div>
          <div class="col-md-6">
            <label align='right' class="label">Alertas altas restantes:&nbsp;</label>
            <strong>
              {{count.l2r}}
            </strong><br>
            <label align='right' class="label">Alertas medias restantes:&nbsp;</label>
            <strong>
              {{count.l1r}}
            </strong><br>
            <label align='right' class="label">Alertas bajas restantes:&nbsp;</label>
            <strong>
              {{count.l0r}}
            </strong><br>
            <label align='right' class="label">Alertas totales:&nbsp;</label>
            <strong>
              {{count.st0}}
            </strong><br>
            <label align='right' class="label">Alertas totales resueltas:&nbsp;</label>
            <strong>{{count.st1}}</strong>
          </div>
        </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>