
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nb-card>

                <nb-card-body>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom row">
            <h1 class="h2">Welcome</h1>
            <div class="offset-7">
                {{ dateMessage }}</div>
          </div>
          <div class="offset-4" *ngIf="now_user == null">
            <button nbButton [status]="'primary'" [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" [disabled]="loading" *ngIf="loading">&nbsp;</button>
          </div>
          <!-- Show user data when logged in -->
          <div class="row">
              <div class="col-md-12">
                <div class="media">
                  <div class="media-body" *ngIf="now_user != null">
                      <h1><strong>{{(now_user.username) ? now_user.username : 'User'}} </strong></h1>
                  </div>
                </div>
              </div>
            </div>
          <div class="row" *ngIf="now_user != null">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <p>Type of user: <strong>{{now_user.role}}</strong></p>
                  <!-- <p>Phone Number: <strong>{{now_user.phone}}</strong></p> -->
                  <p>Email: <strong>{{now_user.email}}</strong></p>       
                  <p *ngIf='now_user.role === "client"'>Total Number of Cameras: <strong>{{now_user.cameras}}</strong></p>
                  <p *ngIf='now_user.role === "client"'>Remaining Number of Cameras: <strong>{{remaining.cameras}}</strong></p>
                  <p *ngIf='now_user.role === "client"'>Total Number of Analytics: <strong>{{now_user.analytics}}</strong></p>
                  <p *ngIf='now_user.role === "client"'>Remaining Number of Analytics: <strong>{{remaining.analytics}}</strong></p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
              <div class="col-md-12">
                <div class="media">
                  <div class="media-body" *ngIf="now_user != null">
                      <p>Admin: <strong>{{now_user.admin}}</strong></p>
                  </div>
                </div>
              </div>
            </div> -->
        </div>
      </main>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
  </div>