<div class="row">
    <div class="col-md-2">
        <nb-card>
            <nb-card-header align='center'>
                <p>Analytics</p>
            </nb-card-header>
            <nb-card-body>
              <nb-radio-group [(ngModel)]='analytic' (ngModelChange)='reload(overview)'>
                <nb-radio
                  [value]="overview"
                  [checked]="analytic.algo_id == -3">
                  <small>{{overview.name}}</small>
                </nb-radio>
              </nb-radio-group>
                <label class="label">Premises</label>
                <nb-radio-group [(ngModel)]='analytic' (ngModelChange)='reload(alg)' *ngFor='let alg of info.analyticsP'>
                    <nb-radio
                      [value]="alg">
                      <small>{{alg.name}}</small>
                    </nb-radio>
                  </nb-radio-group>
                  <label class="label">Threats</label>
                  <nb-radio-group [(ngModel)]='analytic' (ngModelChange)='reload(alg)' *ngFor='let algo of info.analyticsT'>
                      <nb-radio
                        [value]="algo">
                        <small>{{algo.name}}</small>
                      </nb-radio>
                    </nb-radio-group>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-10">
       <ngx-control [analytic]="analytic" [cameras]='cameras' (cameraSel)="aaa($event)" [rel]='rel'></ngx-control>
    </div>
</div>