.logo-container{
    height: 92px;
}

.logo-container img {
    display: block;
    margin-top: 24px;
}

.right-column {
    background: #eeeeee;
    padding-bottom: 100%;
    margin-bottom: -100%;
    padding-top: 25px;
}

.left-column {
    background: #FFFFFF;
    padding-bottom: 100%;
    margin-bottom: -100%;
    padding-left: 32px;
}

.algo-category{
    font-family: Nunito;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bbbbbb;
    margin-bottom: 0px;
}


