<div class="row" style="height:100%">
    <div class="col-md-2 no-padding" style = "height: 100%; background: #FFFFFF">
        <nb-card class = "menu-card">
            <nb-card-header align='center' class = "menu-card-header">
                <div class="logo-container">
                    <a class="logo" href="#" ><img class="responsive" src="/api/pictures/logo.png" ></a>
                </div>
            </nb-card-header>
            <nb-card-body style = "padding-left: 16px">
              <nb-list [(ngModel)]='analytic' >
                <nb-list-item (click) = "analytic=overview" [ngClass]="(analytic!=overview)?'algo-menu':'algo-menu-selected'" style = "border-top: 0px !important;" >
                    Dashboard
                </nb-list-item>
                <nb-list-item class = "algo-menu-category"> 
                    PREMISES
                </nb-list-item>
                <nb-list-item (click) = "analytic=alg;reload(alg)"  [ngClass]="(analytic!=alg)?'algo-menu':'algo-menu-selected'" *ngFor='let alg of info.analyticsP'>
                    {{alg.name}}
                </nb-list-item>
                <nb-list-item class = "algo-menu-category">
                    THREATS
                </nb-list-item>
                <nb-list-item (click) = "analytic=alg;reload(alg)" [ngClass]="(analytic!=alg)?'algo-menu':'algo-menu-selected'" *ngFor='let alg of info.analyticsT'>
                    {{alg.name}}
                </nb-list-item>
              </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-10 dashboard-ctr">
       <ngx-control [analytic]="analytic" [cameras]='cameras' (cameraSel)="aaa($event)" [rel]='rel'></ngx-control>
    </div>
</div>