<div class="row">
    <div class='col-md-12'>
      <nb-card>  
        <nb-card-body>
            <form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="username" class="label">Username</label>
                <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" nbInput fullWidth id="username" autofocus placeholder="Username" [status]='values.username' />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
                  <div *ngIf="f.username.errors.cantMatch">Username already in use</div>
              </div>
              </div>
              <div class="form-group">
                <label for="email" class="label">Email</label>
                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" nbInput fullWidth id="email" autofocus placeholder="Email" [status]='values.email' />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.pattern || f.email.errors.invalid">Email must be a valid email address</div>
                  <div *ngIf="f.email.errors.cantMatch">Email already in use</div>
              </div>
              </div>

              <div class="form-group" *ngIf='now_user.role === "admin"'>
                <label class="label">Type</label>
                  <nb-radio-group [(ngModel)]='type' [ngModelOptions]="{standalone: true}">
                    <nb-radio *ngIf='!edit'
                      [value]="'client'">
                      Client
                    </nb-radio>
                    <nb-radio *ngIf='!edit'
                      [value]="'admin'">
                      Admin
                    </nb-radio>
                    <nb-radio disabled *ngIf='edit'
                    [value]="'client'">
                    Client
                  </nb-radio>
                  <nb-radio disabled *ngIf='edit'
                    [value]="'admin'">
                    Admin
                  </nb-radio>
                  </nb-radio-group>
                </div>


              <div class="form-group" *ngIf='now_user.role === "admin"'>
                <nb-checkbox *ngIf='!edit && type === "client"' formControlName="unique" >Unique Account</nb-checkbox>
                <nb-checkbox *ngIf='edit || type ==="admin"' disabled formControlName="unique" >Unique Account</nb-checkbox>
              </div>
              
              <div class="row"*ngIf='now_user.role === "admin"'>
              <div class="col-md-6">
              <div class="form-group">
                <label for="form3" class="label">Number of Analytics</label>
                <input type="number" class="form-control" *ngIf='type ==="client"' nbInput fullWidth id="form3" status="primary" fieldSize="small" formControlName="analytics" min="0"/>
                <input type="number" class="form-control" *ngIf='type ==="admin"' disabled nbInput fullWidth id="form3" status="primary" fieldSize="small" formControlName="analytics" min="0"/>
              </div>           
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form4" class="label">Number of Cameras</label>
                <input type="number" class="form-control" *ngIf='type ==="client"' nbInput fullWidth id="form4" status="primary" fieldSize="small" formControlName="cameras" min="0"/>
                <input type="number" class="form-control" *ngIf='type ==="admin"' disabled nbInput fullWidth id="form4" status="primary" fieldSize="small" formControlName="cameras" min="0"/>
              </div>           
            </div>
          </div>

              <div class="form-group" *ngIf='edit'>
                <nb-checkbox formControlName="disabled" [status]="'danger'">Disable Account</nb-checkbox>
              </div>

              <div class="form-group" *ngIf='!edit'>
                <label for="password" class="label">Password</label>
                <input [type]="typePass" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" nbInput fullWidth id="password" autofocus placeholder="Password" [status]='values.password' />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 10 characters</div>
                    <div *ngIf="f.password.errors.pattern">Password must contain at least 1 uppercase, 1 lowercase, 1 number and a special character ( # ? ! @ $ % ^ & * - _ )</div>
              </div>
                <label for="confirmPassword" class="label">Confirm Password</label>
                <input [type]="typePass" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" nbInput fullWidth id="confirmPassword" autofocus placeholder="Confirm Password" [status]='values.confirmPassword' />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
              <div class="form-group">
                <nb-checkbox [(ngModel)]='view' (ngModelChange)='changeView()' [ngModelOptions]="{standalone: true}">View Password</nb-checkbox>
              </div>
              </div>
    
    </div>
    <div class="col-md-6">
        <div *ngIf='now_user.role === "admin"'>
        <div class="form-group" *ngIf='type === "client"'>
            <label class="label">Algorithms</label>
            <ul style="list-style-type:none;">
            <li *ngFor='let alg of algos'>
            <nb-checkbox [status]="values.algorithm" [(ngModel)]='alg.act' [ngModelOptions]="{standalone: true}">{{alg.name}}</nb-checkbox>
        </li>
    </ul>
    <div *ngIf="submitted && values.algorithm == 'danger'" class="text-danger">
      <small> Choose at least one algorithm to proceed.</small>
  </div>
            </div>
            <div class="form-group" *ngIf='type === "admin"'>
                <label class="label">Algorithms</label>
                <ul style="list-style-type:none;">
                <li *ngFor='let alg of algos'>
                <nb-checkbox disabled [status]="values.algorithm" [(ngModel)]='alg.act' [ngModelOptions]="{standalone: true}">{{alg.name}}</nb-checkbox>
            </li>
        </ul>
                </div>
            </div>
            <div *ngIf='now_user.role != "admin"'>
              <br><br><br><br><br><br><br><br>
            </div>
        <button [status]="'success'" nbButton class="btn-block" *ngIf="is_saving == false">Save</button>
        <button [status]="'success'" disabled nbButton class="btn-block" *ngIf="is_saving == true" [nbSpinner]="is_saving" nbSpinnerSize="medium" nbSpinnerStatus="primary">&nbsp;</button>
    </div>
</div>
</form>
<hr>
<button [routerLink]="['/pages/accounts']" [status]="'primary'" nbButton class="btn-block"><i class="fas fa-arrow-circle-left"></i> &nbsp;Back</button>
<!-- <button (click)='view1()'>aaa</button> -->
        </nb-card-body>
        </nb-card>
    </div>
  
  </div>
  