<div class='col-md-10'>
    <nb-card>
      <nb-card-header>
        <h1 align='center'>Settings to Analyze</h1>
      </nb-card-header>
    </nb-card>
  </div>

  <div class="row">

    <div class="accordion-container col-md-6 col-lg-6 col-xxxl-6">
      <nb-accordion multi>
        <nb-accordion-item>
          <nb-accordion-item-header>
            <strong>A) People related.</strong> &nbsp;<span class="badge badge-info">{{Calgos.length}}</span><span
              class="badge badge-success">{{actC}}</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <section class="mat-elevation-z2 mat-header-row alfons">
              <span class="mat-header-cell">Status</span>
              <span class="mat-header-cell">Name</span>
              <span class="mat-header-cell">RoI</span>
              <span class="mat-header-cell">Confidence</span>
              <span class="mat-header-cell">Save crops</span>
            </section>
            <div *ngFor='let algorithm of Calgos; index as i'>
              <div class="mat-row mat-cell">
                <span class="mat-cell">
                  <div class="custom-control custom-switch"><input type="checkbox" [checked]="algorithm.activated"
                      (change)="algorithm.activated =!algorithm.activated; onChange(algorithm)"
                      class="custom-control-input" id={{algorithm.id}}><label class="custom-control-label"
                      for={{algorithm.id}}></label></div>
                </span>
                <span class="mat-cell">{{algorithm.name}}</span>
                <span class="mat-cell"><button class="btn btn-sm"
                    [ngClass]="(algorithm.id == 17 || algorithm.id == 12) ? 'btn-info' : 'btn-warning'"
                    [routerLink]="['/pages/cameras/algorithms/', param, algorithm.id, algorithm.conf + '-' + algorithm.save + '-' + algorithm.time]"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>{{i == 8 || i == 4 ? 'Click here to define the area' : 'Add an specific area'}}</button></span>
                <span class="mat-cell"><input type="number" [(ngModel)]='Calgos[i].conf' min="0" max="100" value="95"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>&nbsp;%</span>
                <span class="mat-cell">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input-label" [(ngModel)]='Calgos[i].save'
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined'>Save
                    <input type="number" [(ngModel)]='Calgos[i].time' min="0" max="120"
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined || Calgos[i].save == false || Calgos[i].save == undefined'>
                    sec.
                  </div>
                </span>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            <strong>B) Traffic Management related.</strong> &nbsp;<span
              class="badge badge-info">{{Balgos.length}}</span><span class="badge badge-success">{{actB}}</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <section class="mat-elevation-z2 mat-header-row alfons">
              <span class="mat-header-cell">Status</span>
              <span class="mat-header-cell">Name</span>
              <span class="mat-header-cell">RoI</span>
              <span class="mat-header-cell">Confidence</span>
              <span class="mat-header-cell">Save crops</span>
            </section>
            <div *ngFor='let algorithm of Balgos; index as i'>
              <div class="mat-row mat-cell">
                <span class="mat-cell">
                  <div class="custom-control custom-switch"><input type="checkbox" [checked]="algorithm.activated"
                      (change)="algorithm.activated =!algorithm.activated; onChange(algorithm)"
                      class="custom-control-input" id={{algorithm.id}}><label class="custom-control-label"
                      for={{algorithm.id}}></label></div>
                </span>
                <span class="mat-cell">{{algorithm.name}}</span>
                <span class="mat-cell"><button class="btn btn-sm"
                    [ngClass]="algorithm.id == 4 || algorithm.id == 8 ? 'btn-info': 'btn-warning'"
                    [routerLink]="['/pages/cameras/algorithms/', param, algorithm.id, algorithm.conf + '-' + algorithm.save + '-' + algorithm.time]"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>{{algorithm.id == 4 || algorithm.id == 8 ? 'Click here to define the area' : 'Add an specific area'}}</button></span>
                <span class="mat-cell"><input type="number" [(ngModel)]='Balgos[i].conf' min="0" max="100" value="95"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>&nbsp;%</span>
                <span class="mat-cell">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input-label" [(ngModel)]='Balgos[i].save'
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined'>Save
                    <input type="number" [(ngModel)]='Balgos[i].time' min="0" max="120"
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined || Balgos[i].save == false || Balgos[i].save == undefined'>
                    sec.
                  </div>
                </span>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
          <nb-accordion-item-header>
            <strong>C) Security realated.</strong> &nbsp;<span class="badge badge-info">{{Aalgos.length}}</span><span
              class="badge badge-success">{{actA}}</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <section class="mat-elevation-z2 mat-header-row alfons">
              <span class="mat-header-cell">Status</span>
              <span class="mat-header-cell">Name</span>
              <span class="mat-header-cell">RoI</span>
              <span class="mat-header-cell">Confidence</span>
              <span class="mat-header-cell">Save crops</span>
            </section>
            <div *ngFor='let algorithm of Aalgos; index as i'>
              <div class="mat-row mat-cell">
                <span class="mat-cell">
                  <div class="custom-control custom-switch"><input type="checkbox" [checked]="algorithm.activated"
                      (change)="algorithm.activated =!algorithm.activated; onChange(algorithm)"
                      class="custom-control-input" id={{algorithm.id}}><label class="custom-control-label"
                      for={{algorithm.id}}></label></div>
                </span>
                <span class="mat-cell">{{algorithm.name}}</span>
                <span class="mat-cell"><button class="btn btn-sm"
                    [ngClass]="algorithm.id == 4 || algorithm.id == 8 ? 'btn-info': 'btn-warning'"
                    [routerLink]="['/pages/cameras/algorithms/', param, algorithm.id, algorithm.conf + '-' + algorithm.save + '-' + algorithm.time]"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>{{algorithm.id == 4 || algorithm.id == 8 ? 'Click here to define the area' : 'Add an specific area'}}</button></span>
                <span class="mat-cell"><input type="number" [(ngModel)]='Aalgos[i].conf' min="0" max="100" value="95"
                    [disabled]='algorithm.activated==false || algorithm.activated == undefined'>&nbsp;%</span>
                <span class="mat-cell">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input-label" [(ngModel)]='Aalgos[i].save'
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined'>Save
                    <input type="number" [(ngModel)]='Aalgos[i].time' min="0" max="120"
                      [disabled]='algorithm.activated==false || algorithm.activated == undefined || Aalgos[i].save == false || Aalgos[i].save == undefined'>
                    sec.
                  </div>
                </span>
              </div>
            </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
    <div class="col-md-6">
        <div class="card border-info mb-3">
          <canvas #polygon id="jPolygon" width='{{width}}' height='{{height}}'
            style="background-repeat: no-repeat; background-size: 100% 100%;" [style.background-image]="link">
            Your browser does not support the HTML5 canvas tag.
          </canvas>
        </div>
        <div class='buttons-row'>
          <button nbButton [status]="'success'">Save and back</button>
          <!-- <button nbButton [status]="'info'"(click)="saave()">Save</button> -->
          <button nbButton [status]="'warning'" [routerLink]="['/pages/search/list']">Back</button>
        </div>
    </div>