client/node_modules/
server/node_modules/
server/resources/**
!server/resources/logs/
!server/resources/logs/test.log
!server/resources/swagger.css
!server/resources/graymaticsLogo.png
!server/resources/Microsoft_logo.svg.png
!server/resources/googleLogo.png
server/dist/
server/config.env
node_ubuntu.sh
build.sh
commands_ssl.sh
install.sh
install_nginx.sh
app.zip
client.zip
server.zip
config.env
configDocker.env
runDocker.sh
node_modules
client/dist
client/dist.zip
pythonServer/configPython.env
pythonServer/configPythonDocker.env
pythonServer/app.log
pythonServer/resources/logs/pythonAccess.log
pythonServer/app/__pycache__/**
wsServer/resources/**
!wsServer/resources/logs/
!wsServer/resources/pictures/
!wsServer/resources/pictures/graymaticsLogo.png
!wsServer/resources/logs/test.log
proxy/resources/**
!proxy/resources/logs/
!proxy/resources/pictures/
!proxy/resources/pictures/graymaticsLogo.png
!proxy/resources/logs/test.log
config.env
configShare.env
configDockerShare.env
dockerDeployment/resources/**
!dockerDeployment/resources/logs/
!dockerDeployment/resources/logs/test.log
!dockerDeployment/resources/swagger.css
!dockerDeployment/resources/graymaticsLogo.png
!dockerDeployment/resources/Microsoft_logo.svg.png
!dockerDeployment/resources/googleLogo.png
!dockerDeployment/resources/favicon1.png
!dockerDeployment/resources/favicon1.ico

client/tmp
client/out-tsc

# dependencies
client/node_modules

# IDEs and editors
client/.idea
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
client/*.sublime-workspace

# IDE - VSCode
client/.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json

# misc
client/.angular/cache
client/.sass-cache
client/connect.lock
client/coverage
client/libpeerconnection.log
client/npm-debug.log
client/testem.log
client/typings
client/docs

# e2e
client/e2e/*.js
client/e2e/*.map

# System Files
client/.DS_Store
client/Thumbs.db