client/node_modules/
server/node_modules/
server/access.log
server/resources/logoAirtel.png
server/resources/logoAirtel.ico
server/resources/**
server/dist/
server/config.env
node_ubuntu.sh
build.sh
commands_ssl.sh
install.sh
install_nginx.sh
app.zip
buildDocker.sh
client.zip
server.zip
config.env
configDocker.env
runDocker.sh