<div class="container p-4">
  <nb-card>
    <nb-card-body>
      <div class='row'>
        <div class='col-md-11'>
      <button type="button" class="btn-block" nbButton [status]="ini" [size]="'large'" [disabled]="status.system == 1 || no_algo == true || status.system == 3 || status.system == 2" (click)="start()"><i class="fas fa-play"></i>&nbsp; Initiate System</button></div>
      <div class='col-md-1'><button disabled nbButton [size]="'large'" [nbSpinner]="status.system == 1" nbSpinnerSize="giant" nbSpinnerStatus="primary">&nbsp;</button></div>
    </div>
      <hr>
      <div class='row'>
        <div class='col-md-11'>
      <button type="button" class="btn-block" [size]="'large'" nbButton [status]="sto" [disabled]='status.system == 0 || status.system == 3 ||status.system == 1' (click)="stop()">
        <i class="fas fa-stop"></i>&nbsp; Stop System
      </button></div>
      <div class='col-md-1'><button disabled nbButton [size]="'large'" [nbSpinner]="status.system == 3" nbSpinnerSize="giant" nbSpinnerStatus="primary">&nbsp;</button></div>
    </div>
      <hr>
      <!-- <button type="button" class="btn btn-lg btn-block" [ngClass]="{'btn-danger':started == 1 || started == 0,'btn-success':started == 2,'btn-warning':started == 3}" [disabled]='started == 0 || started == 1 || started == 3' (click)="sto1()">
        <mat-spinner class="yapo" diameter='15' strokeWidth="3" *ngIf="started == 3"></mat-spinner><i class="fas fa-stop" *ngIf='started == 0 || started == 2 || started == 1'></i> Stop System
      </button> -->
      <div align='center'>
    
      <button class="btn" [ngClass]="{'btn-danger':status.fr == 0,'btn-success':status.fr == 2,'btn-warning':status.fr == 1}" disabled align='center'>Face Module&nbsp;<i class="fas fa-bullseye"></i></button>
      <button class="btn" [ngClass]="{'btn-danger':status.people == 0,'btn-success':status.people == 2,'btn-warning':status.people == 1}" disabled align='center'>Person Module&nbsp;<i class="fas fa-bullseye"></i></button>
      <button class="btn" [ngClass]="{'btn-danger':status.aod == 0,'btn-success':status.aod == 2,'btn-warning':status.aod == 1}" disabled align='center'>Abandoned Object Module&nbsp;<i class="fas fa-bullseye"></i></button>
      <button class="btn" [ngClass]="{'btn-danger':status.vehicle == 0,'btn-success':status.vehicle == 2,'btn-warning':status.vehicle == 1}" disabled align='center'>Vehicles Module&nbsp;<i class="fas fa-bullseye"></i></button>
          
    </div>
    </nb-card-body>
  </nb-card>
  </div>
