<div class='row'>
<div class="col-md-4 offset-md-1">
<nb-card>
  <nb-card-header>
    <h3 align='center' style='word-wrap: break-word;'>
      {{camera.name == '' ? 'Name of Camera' : camera.name}}</h3>
  </nb-card-header>
  <nb-card-body>
      <h6 align='center' style='word-wrap: break-word;'>{{camera.rtsp_in == '' ? 'Link' : camera.rtsp_in}}</h6>
      <button [routerLink]="['/pages/camerasList']" class='btn-block' nbButton [status]="'primary'"><i class="fas fa-arrow-circle-left"></i> Back</button>
  </nb-card-body>
</nb-card>
</div>

<div class="col-md-6">
  <nb-card>

    <nb-card-body>
      <form>
        <h6>Name:</h6>
        <div class="form-group">
          <input type="text" name="name" [(ngModel)]="camera.name" placeholder="Name" class="form-control form-control-lg" fullWidth nbInput [status]='values.name' autofocus required>
          <div *ngIf="submitted && values.name == 'danger'" class="text-danger">
            <small> Fill the name to proceed.</small>
        </div>
          </div>
          <div *ngIf='!edit'>
          <h6>Rtsp link:</h6>
          <div class="form-group">
            <input type="text" name="rtsp" [(ngModel)]="camera.rtsp_in" placeholder="Link" class="form-control form-control" fullWidth nbInput [status]='values.rtsp' required>
            <div *ngIf="submitted && values.rtsp == 'danger'" class="text-danger">
              <small> Fill an Rtsp link to proceed.</small>
          </div>
            <div *ngIf="submitted && values.rtsp == 'warning'" class="text-warning">
              <small> This Rtsp link has been used in this branch.</small>
          </div>
            </div> 
          </div>
        <button class='btn-block' nbButton [status]="'success'" (click)="edit ? updateCamera() : saveCamera()" *ngIf="is_saving == false">Save</button>
        <button class='btn-block' nbButton [status]="'success'" [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" [disabled]="is_saving" *ngIf="is_saving == true">&nbsp;</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
</div>
