@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

nb-layout-header {
  background: #eee;
  height: 92px;
  padding: 0px;
}

.nb-theme-corporate nb-layout-header nav{
  padding: 0px !important;
  height: 92px;
}

nb-layout-column {
  background: #eeeeee;
  padding-left: 0px !important;
  padding-top: 0px !important;
}



