
<input class="form-control mr-sm-2" type="text" placeholder="Search" (click)='pressed()' [(ngModel)]="search" value="" (ngModelChange)="printVal()">

<!-- <button (click)='hola()'>aaaa</button> -->
<div class='card border-primary mb-3' *ngIf='pres == true'>
<table class="table table-hover">
<tr *ngIf='looking == true'>
  <td>Looking for results...</td>
  <td></td>
  <td></td>
  <td></td>
  <td align='right'><mat-spinner diameter='20'></mat-spinner></td>
</tr>
<tr *ngIf='no_result == true'>
    <td>No results</td>
    <td></td>
    <td></td>
    <td></td>
    <td align='right'><button class="btn btn-danger btn-sm cross" disabled><i class="far fa-times-circle"></i></button></td>
  </tr>
<tr class="table-light" *ngFor='let user of users'>
  <td>{{user.name}}</td>
  <td>{{user.gender}}</td>
  <td>{{user.age_group}}</td>
  <td>{{user.role}}</td>
  <td><a [routerLink]="['/pages/user/images', user.uuid]" class= "btn btn-primary btn-block">
    Images of {{user.name}}
    </a></td>
</tr>
</table>
</div>