<!-- <div class="row">
<div class="col-md-6">
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name of an employee">
</mat-form-field>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td mat-cell *matCellDef="let log"> {{log.time | date:'dd/MM/yy - HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let log"> {{log.name}} </td>
    </ng-container>


    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zone </th>
      <td mat-cell *matCellDef="let log"> {{log.zone}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let log"> {{log.role}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'early':row.late == 0,'late':row.late == 1,'in':row.late == 2,'overtime':row.late == 3,'before':row.late == 4,'gotThere':row.late == 6,'gotOff':row.late == 5}"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>

  <div class="p-2">
  <div class="card border-primary">
    <div class="card-header" align='center'>
      <i>Legend</i>
    </div>
    <div class="card-body">
      <div class="row">
      <svg width="20" height="20">
        <rect width="20" height="20" style="fill:#3366ff;stroke-width:3;stroke:rgb(255, 255, 255)" />
        </svg>&nbsp;<h6>Overtime</h6>&nbsp;&nbsp;&nbsp;
        <svg width="20" height="20">
          <rect width="20" height="20" style="fill:#cc7a00;stroke-width:3;stroke:rgb(255, 255, 255)" />
          </svg>&nbsp;<h6>Inside</h6>&nbsp;&nbsp;&nbsp;
          <svg width="20" height="20">
            <rect width="20" height="20" style="fill:#2eb82e;stroke-width:3;stroke:rgb(255, 255, 255)" />
            </svg>&nbsp;<h6>Early</h6>&nbsp;&nbsp;&nbsp;
            <svg width="20" height="20">
              <rect width="20" height="20" style="fill:#cc0000;stroke-width:3;stroke:rgb(255, 255, 255)" />
              </svg>&nbsp;<h6>Late</h6>&nbsp;&nbsp;&nbsp;
              <svg width="20" height="20">
                <rect width="20" height="20" style="fill:#cc33ff;stroke-width:3;stroke:rgb(255, 255, 255)" />
                </svg>&nbsp;<h6>Left earlier</h6>
                &nbsp;&nbsp;&nbsp;
              <svg width="20" height="20">
                <rect width="20" height="20" style="fill:#336600;stroke-width:3;stroke:rgb(255, 255, 255)" />
                </svg>&nbsp;<h6>Got to Work without schedule</h6>&nbsp;&nbsp;&nbsp;
                <svg width="20" height="20">
                  <rect width="20" height="20" style="fill:#33cccc;stroke-width:3;stroke:rgb(255, 255, 255)" />
                  </svg>&nbsp;<h6>Got off Work without schedule</h6>
        </div>
    </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="chart-wrapper thing">
    <canvas baseChart 
    [colors]="donutColors"
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType">
  </canvas>
</div>
</div>

</div> -->
