
  <nb-card>
  
    <nb-card-body>

      <table class="table table-hover" id="myTable">
        <thead align='center'>
          <tr>
            <th scope="col"><h5>Name</h5></th>
            <th scope="col"><h5>Play</h5></th>
            <th scope="col" ><h5><i class="far fa-dot-circle"></i>&nbsp;Algorithms</h5></th>
            <th scope="col" *ngIf='heatmap == true'><h5><i class="far fa-map"></i> &nbsp;Heatmap</h5></th>
            <th scope="col"><h5>Delete</h5></th>
          </tr>
        </thead>
        <tr *ngFor = "let camera of videos">
            <td scope="row"><h6 align='center' style='word-wrap: break-word;'>{{camera.name}}</h6></td>
            <td><button [routerLink]="['/pages/cameras/live/', camera.id]" class='btn-block' nbButton [status]="'warning'">
                <i class="fas fa-play"></i>
            </button></td>
            <td><button [routerLink]="['/pages/cameras/algorithms', camera.id]" class='btn-block' nbButton [status]="'info'">
              Algorithms
            </button></td>
              <td *ngIf='heatmap == true'><button [routerLink]="['/pages/cameras/heatmap', camera.id]" class='btn-block' nbButton [status]="'info'" [disabled]= 'camera.hm == undefined'>
                Heatmap
              </button></td>
            <td><button  class='btn-block' nbButton [status]="'danger'" (click)="deleteVideo(camera.rtsp_in, camera.id, camera.stored_vid)">
              <i class="far fa-trash-alt"></i>
            </button></td>
        </tr>
        </table>
      
      </nb-card-body>
    </nb-card>
  