<div class="container no-padding">
  <div class="col-md-12 no-padding" style="margin-top: 15px">
    <div class="row justify-content-start">
      <div class="col-md-3 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total</p>
            <p class="badge-reading">
              {{ aod == undefined ? "None" : aod.total }}
            </p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Over Time</p>
            <chart type="line" [data]="dataL" [options]="optionsL"></chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 less-padding">
        <nb-card>
          <nb-card-body style="padding: 0px">
            <ng2-smart-table
              [settings]="settings"
              [source]="source"
              (edit)="got($event)"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-5 less-padding" *ngIf="video">
        <nb-card>
          <nb-card-body align="center">
            <video
              controls
              (click)="toggleVideo($event)"
              #videoPlayer
              class="responsive"
              muted
              loop
              controls
              preload="none"
              style="width: 100%; height: 100%"
            >
              <source [src]="videoFile" type="video/mp4" />
              Browser not supported
            </video>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="col-md-12 no-padding" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-8 less-padding">
          <nb-card>
            <nb-card-header>
              <h4>Live Output Feed</h4>
              <div align="center">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="openFormModal(openFromTemplate)"
                  [nbSpinner]="loadingTakeScreenShot"
                  nbSpinnerStatus="primary"
                >
                  Take Screenshot
                </button>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div align="center">
                <img [src]="rtspIn" style="width: 100%; height: auto" />
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #openFromTemplate>
  <div>
    <nb-card>
      <nb-card-header>
        <h6>Add To Manual Trigger</h6>
        <div align="center">
          <button
            class="btn btn-sm btn-danger"
            (click)="clear()"
            [disabled]="data.results.length == 0"
          >
            Delete Last Boundary Box
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="manualTriggerForm" (ngSubmit)="saveManualTrigger()">
          <canvas
            id="canvasId"
            style="
              cursor: crosshair;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            "
            (click)="drawRect($event)"
            [style.background-image]="getBackground()"
          ></canvas>
          <div class="pt-2">
            <span class="pb-2" style="font-size: medium"
              ><b>Add Actions:</b>
            </span>
            <input
              type="text"
              class="form-control"
              formControlName="actions"
              fullWidth
              id="actions"
              autofocus
              placeholder="Enter Actions"
            />

            <span
              *ngIf="
                !manualTriggerForm.controls.actions.valid &&
                manualTriggerForm.controls.actions.touched
              "
              class="error text-danger mb-1"
            >
              <span
                *ngIf="manualTriggerForm.controls.actions.hasError('required')"
              >
                Please enter actions
              </span>
              <span
                *ngIf="manualTriggerForm.controls.actions.hasError('minlength')"
              >
                Actions must be at least 3 characters long.
              </span>
            </span>
          </div>
          <div class="row pt-2">
            <div class="col-md-4">
              <span class="pb-2" style="font-size: medium"
                ><b>Choose Algorithm:</b>
              </span>
              <nb-select formControlName="algoId" fullWidth>
                <nb-option value="" disabled>Choose An Algorithm:</nb-option>
                <nb-option
                  *ngFor="let algorithm of algorithms"
                  [value]="algorithm.id"
                  >{{ algorithm.name }}</nb-option
                >
              </nb-select>

              <span
                *ngIf="
                  !manualTriggerForm.controls.algoId.valid &&
                  manualTriggerForm.controls.algoId.touched
                "
                class="error text-danger mb-1"
              >
                <span
                  *ngIf="manualTriggerForm.controls.algoId.hasError('required')"
                >
                  Please select an algorithm
                </span>
              </span>
            </div>
            <div class="col-md-8">
              <span class="pb-2" style="font-size: medium"
                ><b>Add Severity:</b>
              </span>
              <input
                type="text"
                class="form-control"
                formControlName="severity"
                fullWidth
                id="severity"
                autofocus
                placeholder="Enter Severity"
              />

              <span
                *ngIf="
                  !manualTriggerForm.controls.severity.valid &&
                  manualTriggerForm.controls.severity.touched
                "
                class="error text-danger mb-1"
              >
                <span
                  *ngIf="
                    manualTriggerForm.controls.severity.hasError('required')
                  "
                >
                  Please enter severity
                </span>
                <span
                  *ngIf="
                    manualTriggerForm.controls.severity.hasError('minlength')
                  "
                >
                  Severity must be at least 3 characters long.
                </span>
              </span>
            </div>
          </div>

          <div class="pt-2">
            <button
              class="btn-block"
              [status]="'warning'"
              nbButton
              type="submit"
              [nbSpinner]="loading"
              nbSpinnerStatus="primary"
              [disabled]="!manualTriggerForm.valid || data.results.length == 0"
            >
              Save
            </button>
          </div>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button class="btn-block" nbButton (click)="closeModal()">
          CLOSE
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>