@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-intr {
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);

    ::ng-deep {
      .pie-label {
        fill: nb-theme(text-basic-color);
      }

      text {
        fill: nb-theme(text-hint-color);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(background-basic-color-2);
        }
        .legend-label {
          color: nb-theme(text-hint-color);
          .active .legend-label-text {
            color: nb-theme(text-basic-color);
          }
        }
      }

      .total-value,
      .item-value,
      .item-percent {
        line-height: 1.25;
      }

      .legend-items {
        overflow-y: hidden;
      }
    }
  }
}

.less-padding{
  padding-left: 10px; 
  padding-right: 5px; 
}

.no-padding{
  padding: 0px;
}
.no-padding{
  padding: 0px;
}

.top-badges{
  min-height: 238px;
}

.badge-txt{
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #535353;
}

.badge-reading{
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444444;
  margin-bottom: 0px;
}

.graph-body {
    min-height: 400px;
}