<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row justify-content-start">
            <div class="col-md-3 less-padding">
                <nb-card>
                    <nb-card-body >
                        <p class = "badge-txt">Total</p>
                        <p class = "badge-reading">{{intrude == undefined ? 'None' : intrude.total}}</p>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body >
                        <p class = "badge-txt">Avg Frequency</p>
                        <p class = "badge-reading">{{intrude == undefined ? 'None' : intrude.avgH}} per hr</p> 
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-9 less-padding">
                <nb-card>
                    <nb-card-body  class = "top-badges" >
                        <p>Over Time</p>
                        <chart type="line" [data]="dataL" [options]="optionsL"></chart>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 less-padding">
                <nb-card>
                    <nb-card-body>
                        <ng2-smart-table style = "padding: 0px" [settings]="settings" [source]="source"  (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-5 less-padding">
                <nb-card>
                    <nb-card-body align='center' style = "min-height: 300px">

                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body align='center'>
                        <div echarts [options]="options" class="echart"></div>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-body>
                        <ng2-smart-table [settings]="settings2" [source]="source2">
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
</div>
