<div class="row">
    <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
        <nb-accordion multi>
            <nb-accordion-item *ngFor="let item of relations; index as i">
                <nb-accordion-item-header>
                    <strong>{{item.algo_name}}</strong> &nbsp;
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <section class="mat-elevation-z2 mat-header-row alfons">
                        <span class="mat-header-cell">RoI</span>
                        <span class="mat-header-cell">Confidence</span>
                        <span class="mat-header-cell">Save crops</span>
                        <span class="mat-header-cell">Detail</span>
                    </section>
                    <div class="mat-row mat-cell">
                        <span class="mat-cell">ROI Value: {{item.roi_id}}</span>
                        <span class="mat-cell" *ngIf="analysis[i]['conf']; else elseBlock">{{analysis[i]["conf"]}}%</span>
                        <ng-template #elseBlock><span class="mat-cell" >0%</span></ng-template>
                        <span class="mat-cell" *ngIf="analysis[i]['save']; else elseBlock2">{{analysis[i]["time"]}}s</span>
                        <ng-template #elseBlock2><span class="mat-cell">0s</span></ng-template>
                        <span class="mat-cell"><button class="btn btn-primary" (click)="passAlgoId(item.algo_id)">Details</button></span>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>

    <ng-template #rangeSelector>
        <nb-list>
            <nb-list-item>
                <div class="row">
                    <div style="width: 100px" class="col-md-auto" (click)="selectRangeType('Date')">
                        <nb-radio name="range" [checked]="currentSelection=='Date'">Date</nb-radio>
                    </div>
                    <div class="col">
                        <input nbInput placeholder="Pick Date" [disabled]="currentSelection != 'Date'"
                            [value]="range.start" [nbDatepicker]="dateTimePicker" fullWidth fieldSize="small">
                        <nb-datepicker (dateChange)="setDate($event)" [max]="fin" [(date)]="selectedDate"
                            #dateTimePicker></nb-datepicker>
                    </div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="row">
                    <div style="width: 100px" class="col-md-auto" (click)="selectRangeType('Month')">
                        <nb-radio name="range" [checked]="currentSelection=='Month'"
                            (onClick)="selectRangeType('Month')">Month</nb-radio>
                    </div>
                    <div class="col">
                        <nb-select (selectedChange)="setMonth()" placeholder="Select Showcase"
                            [disabled]="currentSelection != 'Month'" [(ngModel)]="selectedMonth" fullWidth size="small">
                            <nb-option *ngFor='let month of lastMonths' [value]="month">{{calMonths[month.getMonth()] +
                                " '" + month.getFullYear()}} </nb-option>
                        </nb-select>
                    </div>
                </div>
            </nb-list-item>
            <nb-list-item>
                <div class="row">
                    <div style="width: 100px" class="col-md-auto" (click)="selectRangeType('Custom')">
                        <nb-radio name="range" [checked]="currentSelection=='Custom'"
                            (onClick)="selectRangeType('Custom')">Custom</nb-radio>
                    </div>
                    <div class="col">
                        <input nbInput placeholder="Today - Pick a new Range" [nbDatepicker]="rangepicker"
                            [disabled]="currentSelection != 'Custom'" fullWidth fieldSize="small">
                        <nb-rangepicker #rangepicker [max]="max" [(range)]="range" style='margin-left: 2px;'
                            (rangeChange)="changeRange($event)"></nb-rangepicker>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>
    </ng-template>