.ctr-btn button{
    color: #222b45 !important;
    background: #FFFFFF !important;
    border: 1px solid #e4e9f2 !important;
} 

.ctr-btn{
    color: #222b45 !important;
    background: #FFFFFF !important;
    border: 1px solid #e4e9f2 !important;
} 

.less-padding {
    padding-left: 5px;
    padding-right: 5px
}