<div class="container no-padding">
  <div class="col-md-12 no-padding" style="margin-top: 15px">
    <p>Incidents</p>
    <div class="row">
      <div class="col-md-3 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Current Count</p>
            <p class="badge-reading">{{ pc == undefined ? "None" : pc.in }}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>People inside over time</p>
            <chart type="line" [data]="dataL" [options]="optionsL"></chart>
            <small *ngIf="pc != null"
              >Min:&nbsp;<strong>{{ pc.min.in }}</strong
              >&nbsp;Max:&nbsp;<strong>{{ pc.max.in }}</strong
              >&nbsp;Avg:&nbsp;<strong>{{ pc.avg.in }}</strong></small
            >
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-3 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Entries</p>
            <p class="badge-reading">{{pc == undefined ? 'None' : pc.totalEn}}</p>
            <br>
            <p class="badge-txt">Total Exits</p>
            <p class="badge-reading">{{pc == undefined ? 'None' : pc.totalEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>People Entering and Exiting</p>
            <chart type="line" [data]="dataL2" [options]="optionsL2"></chart>
            <small *ngIf='pc != null'>Entering:
              Min:&nbsp;<strong>{{pc.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{pc.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{pc.avg.en}}</strong></small><br>
            <small *ngIf='pc != null'>Exiting:
              Min:&nbsp;<strong>{{pc.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{pc.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{pc.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 less-padding">
        <nb-card>
          <nb-card-body>
            <p>By Hour</p>
            <chart id='chart' type="horizontalBar" [data]="dataH" [options]="optionsH"></chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div> -->

    <div>
      <nb-card>
        <nb-card-body style="padding: 0px">
          <ng2-smart-table
            [settings]="settings"
            [source]="source"
            (edit)="got()"
          >
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-12 no-padding" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-8 less-padding">
          <nb-card>
            <nb-card-header>
              <h4>Live Output Feed</h4>
              <div align="center">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="openFormModal()"
                  [nbSpinner]="loadingTakeScreenShot"
                  nbSpinnerStatus="primary"
                >
                  Take Screenshot
                </button>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div align="center">
                <img [src]="rtspIn" style="width: 100%; height: auto" />
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
