<div class="container no-padding">
  <div class="col-md-12 no-padding" style="margin-top: 15px">
    <div class="row justify-content-start">
      <div class="col-md-3">
        <nb-card>
          <nb-card-body>
            <p>Total</p>
            <strong>{{
              disrobing == undefined ? "None" : disrobing.total
            }}</strong>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-9">
        <nb-card>
          <nb-card-body>
            <p>Over Time</p>
            <chart type="line" [data]="dataL" [options]="optionsL"></chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body>
            <ng2-smart-table
              [settings]="settings"
              [source]="source"
              (edit)="got()"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="col-md-12 no-padding" style="margin-top: 15px">
      <div class="row">
        <div class="col-md-8 less-padding">
          <nb-card>
            <nb-card-header>
              <h4>Live Output Feed</h4>
              <div align="center">
                <button
                  class="btn btn-sm btn-danger"
                  (click)="openFormModal()"
                  [nbSpinner]="loadingTakeScreenShot"
                  nbSpinnerStatus="primary"
                >
                  Take Screenshot
                </button>
              </div>
            </nb-card-header>
            <nb-card-body>
              <div align="center">
                <img [src]="rtspIn" style="width: 100%; height: auto" />
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </div>
</div>
