<div class="container no-padding">
  <div class="col-md-12 no-padding" style="margin-top: 15px">
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body class="top-badges">
            <div class="row">
              <div class="col-md-3">
                <p class="badge-txt">Last Motorbikes amount</p>
                <div class="badge-reading">
                  <!-- <div *ngIf="vcount.totalMotorbikesEn; else totalMotorbikesEnNone">{{vcount.totalMotorbikesEn}}</div>
                  <ng-template #totalMotorbikesEnNone>None</ng-template> -->
                  {{
                    vcount?.totalMotorbikesEn == undefined
                      ? "None"
                      : vcount.totalMotorbikesEn
                  }}
                </div>
              </div>
              <div class="col-md-3">
                <p class="badge-txt">Last Cars amount</p>
                <div class="badge-reading">
                  <!-- <div *ngIf="vcount.totalCarsEn; else totalCarsEnNone">{{vcount.totalCarsEn}}</div>
                  <ng-template #totalCarsEnNone>None</ng-template> -->
                  {{
                    vcount?.totalCarsEn == undefined
                      ? "None"
                      : vcount.totalCarsEn
                  }}
                </div>
              </div>
              <div class="col-md-3">
                <p class="badge-txt">Last Trucks amount</p>
                <div class="badge-reading">
                  <!-- <div *ngIf="vcount.totalTrucksEn; else totalTrucksEnNone">{{vcount.totalTrucksEn}}</div>
                  <ng-template #totalTrucksEnNone>None</ng-template> -->
                  {{
                    vcount?.totalTrucksEn == undefined
                      ? "None"
                      : vcount.totalTrucksEn
                  }}
                </div>
              </div>
              <div class="col-md-3">
                <p class="badge-txt">Last Buses amount</p>
                <div class="badge-reading">
                  <!-- <div *ngIf="vcount.totalBusesEn; else totalBusesEnNone">{{vcount.totalBusesEn}}</div>
                  <ng-template #totalBusesEnNone>None</ng-template> -->
                  {{
                    vcount?.totalBusesEn == undefined
                      ? "None"
                      : vcount.totalBusesEn
                  }}
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body class="badges">
            <p>Vehicles</p>
            <chart
              type="bar"
              [data]="dataVehicles"
              [options]="optionsBPre"
            ></chart>
            <!-- <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small> -->
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-2 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Motorbikes Entries</p>
            <p class="badge-reading">{{vcount.totalMotorbikesEn == undefined ? 'None' : vcount.totalMotorbikesEn}}</p>
            <br>
            <p class="badge-txt">Total Motorbikes Exits</p>
            <p class="badge-reading">{{vcount.totalMotorbikesEx == undefined ? 'None' : vcount.totalMotorbikesEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-10 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Motorbikes Entering and Exiting</p>
            <chart type="line" [data]="motorbikesData" [options]="options"></chart>
            <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Cars Entries</p>
            <p class="badge-reading">{{vcount.totalCarsEn == undefined ? 'None' : vcount.totalCarsEn}}</p>
            <br>
            <p class="badge-txt">Total Car Exits</p>
            <p class="badge-reading">{{vcount.totalCarsEx == undefined ? 'None' : vcount.totalCarsEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-10 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Cars Entering and Exiting</p>
            <chart type="line" [data]="carsData" [options]="options"></chart>
            <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Buses Entries</p>
            <p class="badge-reading">{{vcount.totalBusesEn == undefined ? 'None' : vcount.totalBusesEn}}</p>
            <br>
            <p class="badge-txt">Total Buses Exits</p>
            <p class="badge-reading">{{vcount.totalBusesEx == undefined ? 'None' : vcount.totalBusesEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-10 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Buses Entering and Exiting</p>
            <chart type="line" [data]="busesData" [options]="options"></chart>
            <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Rickshaws Entries</p>
            <p class="badge-reading">{{vcount.totalRickshawsEn == undefined ? 'None' : vcount.totalRickshawsEn}}</p>
            <br>
            <p class="badge-txt">Total Rickshaws Exits</p>
            <p class="badge-reading">{{vcount.totalRickshawsEx == undefined ? 'None' : vcount.totalRickshawsEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-10 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Rickshaws Entering and Exiting</p>
            <chart type="line" [data]="rickshawsData" [options]="options"></chart>
            <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p class="badge-txt">Total Trucks Entries</p>
            <p class="badge-reading">{{vcount.totalTrucksEn == undefined ? 'None' : vcount.totalTrucksEn}}</p>
            <br>
            <p class="badge-txt">Total Trucks Exits</p>
            <p class="badge-reading">{{vcount.totalTrucksEx == undefined ? 'None' : vcount.totalTrucksEx}}</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-10 less-padding">
        <nb-card>
          <nb-card-body class="top-badges">
            <p>Trucks Entering and Exiting</p>
            <chart type="line" [data]="trucksData" [options]="options"></chart>
            <small *ngIf='vcount != null'>Entering:
              Min:&nbsp;<strong>{{vcount.min.en}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.en}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.en}}</strong></small><br>
            <small *ngIf='vcount != null'>Exiting:
              Min:&nbsp;<strong>{{vcount.min.ex}}</strong>&nbsp;Max:&nbsp;<strong>{{vcount.max.ex}}</strong>&nbsp;Avg:&nbsp;<strong>{{vcount.avg.ex}}</strong></small>
          </nb-card-body>
        </nb-card>
      </div>
    </div> -->
    <!--       <div class="col-md-8 less-padding">
        <nb-card>
          <nb-card-body style="padding: 0px">
            <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-4 less-padding" *ngIf=video>
        <nb-card>
          <nb-card-body align='center' style="min-height: 250px">
            <video controls (click)="toggleVideo($event)" #videoPlayer class="responsive" muted loop controls
              preload="none" style="width: 100%;height: 100%">
              <source [src]="videoFile" type="video/mp4" />
              Browser not supported
            </video>
          </nb-card-body>
        </nb-card>
      </div> -->
  </div>
  <div class="row">
    <div class="col-md-7 less-padding">
      <nb-card>
        <nb-card-body style="padding: 0px">
          <ng2-smart-table
            [settings]="settings"
            [source]="source"
            (edit)="got($event)"
          >
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5 less-padding" *ngIf="video">
      <nb-card>
        <nb-card-body align="center">
          <video
            controls
            (click)="toggleVideo($event)"
            #videoPlayer
            class="responsive"
            muted
            loop
            controls
            preload="none"
            style="width: 100%; height: 100%"
          >
            <source [src]="videoFile" type="video/mp4" />
            Browser not supported
          </video>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-md-12 no-padding" style="margin-top: 15px">
    <div class="row">
      <div class="col-md-8 less-padding">
        <nb-card>
          <nb-card-header>
            <h4>Live Output Feed</h4>
            <div align="center">
              <button
                class="btn btn-sm btn-danger"
                (click)="openFormModal(openFromTemplate)"
                [nbSpinner]="loadingTakeScreenShot"
                nbSpinnerStatus="primary"
              >
                Take Screenshot
              </button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div align="center">
              <img [src]="rtspIn" style="width: 100%; height: auto" />
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<ng-template #openFromTemplate>
  <div>
    <nb-card>
      <nb-card-header>
        <h6>Add To Manual Trigger</h6>
        <div align="center">
          <button
            class="btn btn-sm btn-danger"
            (click)="clear()"
            [disabled]="data.results.length == 0"
          >
            Delete Last Boundary Box
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="manualTriggerForm" (ngSubmit)="saveManualTrigger()">
          <canvas
            id="canvasId"
            style="
              cursor: crosshair;
              background-repeat: no-repeat;
              background-size: 100% 100%;
            "
            (click)="drawRect($event)"
            [style.background-image]="getBackground()"
          ></canvas>
          <div class="pt-2">
            <span class="pb-2" style="font-size: medium"
              ><b>Add Actions:</b>
            </span>
            <input
              type="text"
              class="form-control"
              formControlName="actions"
              fullWidth
              id="actions"
              autofocus
              placeholder="Enter Actions"
            />

            <span
              *ngIf="
                !manualTriggerForm.controls.actions.valid &&
                manualTriggerForm.controls.actions.touched
              "
              class="error text-danger mb-1"
            >
              <span
                *ngIf="manualTriggerForm.controls.actions.hasError('required')"
              >
                Please enter actions
              </span>
              <span
                *ngIf="manualTriggerForm.controls.actions.hasError('minlength')"
              >
                Actions must be at least 3 characters long.
              </span>
            </span>
          </div>
          <div class="row pt-2">
            <div class="col-md-4">
              <span class="pb-2" style="font-size: medium"
                ><b>Choose Algorithm:</b>
              </span>
              <nb-select formControlName="algoId" fullWidth>
                <nb-option value="" disabled>Choose An Algorithm:</nb-option>
                <nb-option
                  *ngFor="let algorithm of algorithms"
                  [value]="algorithm.id"
                  >{{ algorithm.name }}</nb-option
                >
              </nb-select>

              <span
                *ngIf="
                  !manualTriggerForm.controls.algoId.valid &&
                  manualTriggerForm.controls.algoId.touched
                "
                class="error text-danger mb-1"
              >
                <span
                  *ngIf="manualTriggerForm.controls.algoId.hasError('required')"
                >
                  Please select an algorithm
                </span>
              </span>
            </div>
            <div class="col-md-8">
              <span class="pb-2" style="font-size: medium"
                ><b>Add Severity:</b>
              </span>
              <input
                type="text"
                class="form-control"
                formControlName="severity"
                fullWidth
                id="severity"
                autofocus
                placeholder="Enter Severity"
              />

              <span
                *ngIf="
                  !manualTriggerForm.controls.severity.valid &&
                  manualTriggerForm.controls.severity.touched
                "
                class="error text-danger mb-1"
              >
                <span
                  *ngIf="
                    manualTriggerForm.controls.severity.hasError('required')
                  "
                >
                  Please enter severity
                </span>
                <span
                  *ngIf="
                    manualTriggerForm.controls.severity.hasError('minlength')
                  "
                >
                  Severity must be at least 3 characters long.
                </span>
              </span>
            </div>
          </div>

          <div class="pt-2">
            <button
              class="btn-block"
              [status]="'warning'"
              nbButton
              type="submit"
              [nbSpinner]="loading"
              nbSpinnerStatus="primary"
              [disabled]="!manualTriggerForm.valid || data.results.length == 0"
            >
              Save
            </button>
          </div>
        </form>
      </nb-card-body>

      <nb-card-footer>
        <button class="btn-block" nbButton (click)="closeModal()">
          CLOSE
        </button></nb-card-footer
      >
    </nb-card>
  </div>
</ng-template>
