.no-padding{
    padding: 0px;
}

.top-badges{
    min-height: 120px;
}

.badges{
    min-height: 300px;
}

.badge-txt{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #535353;
}

.badge-reading{
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    margin-bottom: 0px;
  }

  .graph-body {
      min-height: 240px;
  }

  .less-padding{
      padding-left: 10px; 
      padding-right: 5px; 
  }

  .ng-star-inserted{
    padding-left: 10px !important; 
    padding-right: 10px !important; 
  }