<div style="width: 35rem">
  <nb-card>
    <nb-card-header>
      <h6>Helpdesk Ticket</h6>
    </nb-card-header>
    <nb-card-body>
      <div>
        <form [formGroup]="helpDeskReplyForm" (ngSubmit)="onSubmit()">
          <div class="col-md-10 pb-3">
            <div class="form-group pl-1">
              <textarea
                class="form-control"
                formControlName="replyMessage"
                style="width: 30rem"
                fullWidth
                id="replyMessage"
                autofocus
                placeholder="Enter your reply here"
              ></textarea>
              <span
                *ngIf="
                  !helpDeskReplyForm.controls.replyMessage.valid &&
                  helpDeskReplyForm.controls.replyMessage.touched
                "
                class="error text-danger mb-1"
              >
                <span
                  *ngIf="
                    helpDeskReplyForm.controls.replyMessage.hasError('required')
                  "
                >
                  Please enter your reply
                </span>
                <span
                  *ngIf="
                    helpDeskReplyForm.controls.replyMessage.hasError(
                      'minlength'
                    )
                  "
                >
                  Reply must be at least 4 characters long.
                </span>
              </span>
            </div>

            <div class="form-group pl-5">
              <div class="custom-file">
                <label class="custom-file-label" for="exampleInputFile">{{
                  fileName == null ? "Choose an Image File to upload" : fileName
                }}</label>
                <input
                  type="file"
                  (change)="change()"
                  #fileInput
                  class="custom-file-input"
                  id="exampleInputFile"
                  aria-describedby="fileHelp"
                  name="file"
                  formControlName="image"
                />

                <span class="error text-danger mb-1" *ngIf="wrongFileType">
                  Please select a valid image file
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button
              class="btn-block"
              type="submit"
              nbButton
              [status]="'info'"
              *ngIf="!loading"
              [disabled]="!helpDeskReplyForm.valid || wrongFileType"
            >
              POST REPLY
            </button>
            <button
              class="btn-block"
              nbButton
              [status]="'primary'"
              [nbSpinner]="true"
              nbSpinnerSize="giant"
              nbSpinnerStatus="primary"
              [disabled]="loading"
              *ngIf="loading"
            >
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </form>
      </div>

      <div>
        <h6 align="center" class="pr-5">REPLIES</h6>
        <div
          class="mt-2 mb-2 pr-5"
          *ngIf="replies && replies.length === 0"
          align="center"
        >
          <span>No replies yet!</span>
        </div>

        <!-- <nb-card
          *ngFor="let reply of replies"
          class="mb-3"
          style="background-color: rgb(154, 202, 140)"
        >
          <div class="pl-3 mt-2 mb-2">
            <strong>Message:&nbsp;</strong>
            <span>{{ reply.reply_message }}</span>
            <div *ngIf="reply.http_in">
              <strong>Image:&nbsp;</strong>
              <a
                [href]="reply.http_in"
                target="_blank"
                rel="noopener noreferrer"
                >Click Here To Open Image</a
              >
              <br />
              <br />
              <p>
                <img [src]="reply.http_in" style="width: 20%; height: 20%" />
              </p>
            </div></div
        ></nb-card> -->

        <div *ngFor="let reply of replies" class="mb-3">
          <nb-card
            *ngIf="reply.currentUser"
            style="background-color: rgb(135, 231, 191)"
            class="ml-5"
          >
            <div class="pl-3 mt-2 mb-2">
              <strong>You:&nbsp;</strong>
              <span>{{ reply.reply_message }}</span>
              <div *ngIf="reply.http_in">
                <br />
                <img [src]="reply.http_in" style="width: 20%; height: 20%" />
                <p>
                  <a
                    [href]="reply.http_in"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Click Here To Open Image</a
                  >
                </p>
              </div>
              <div>
                <strong>Date:&nbsp;</strong>
                <span>{{ reply.createdAt | date: "medium" }}</span>
              </div>
            </div>
          </nb-card>
          <nb-card
            *ngIf="!reply.currentUser"
            style="background-color: rgb(145, 222, 245)"
            class="mr-5"
          >
            <div class="pl-3 mt-2 mb-2">
              <strong>Reply:&nbsp;</strong>
              <span>{{ reply.reply_message }}</span>
              <div *ngIf="reply.http_in">
                <br />
                <img [src]="reply.http_in" style="width: 20%; height: 20%" />
                <p>
                  <a
                    [href]="reply.http_in"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Click Here To Open Image</a
                  >
                </p>
              </div>
              <div>
                <strong>Date:&nbsp;</strong>
                <span>{{ reply.createdAt | date: "medium" }}</span>
              </div>
            </div>
          </nb-card>
        </div>
      </div>
      <button class="btn-block" nbButton (click)="closeModal()">CLOSE</button>
    </nb-card-body>
  </nb-card>
</div>
