<div class="container no-padding">
    <div class="col-md-12 no-padding" style="margin-top: 15px">
      <div class="row justify-content-start">
        <div class="col-md-2 less-padding">
          <nb-card>
            <nb-card-body class="top-badges">
              <p class="badge-txt">Promedio de cascos</p>
              <p class="badge-reading">
                {{ tiempo == undefined ? "None" : tiempo.reshelmetcount | number: '1.2-3'}}
              </p>
              <div class="dropdown-divider"></div>
              <p class="badge-txt">Productividad:</p>
              <!-- <p class="badge-reading" *ngIf="tiempo.comparison === 'higher'">
                {{ tiempo == undefined ? "None" : tiempo.meatperhrandavgworker | number: '1.2-3'}}
              </p> -->
              <button *ngIf="tiempo.comparison === 'higher'" nbButton outline status="success" size = "small" class="btn-block">{{ tiempo == undefined ? "None" : tiempo.meatperhrandavgworker | number: '1.2-3'}}</button>
              <button *ngIf="tiempo.comparison === ''" nbButton outline status="primary" size = "small" class="btn-block">{{ tiempo == undefined ? "None" : tiempo.meatperhrandavgworker | number: '1.2-3'}}</button>
              <button *ngIf="tiempo.comparison === 'lower'" nbButton outline status="danger" size = "small" class="btn-block">{{ tiempo == undefined ? "None" : tiempo.meatperhrandavgworker | number: '1.2-3'}}</button>
              <!-- <p class="badge-reading" *ngIf="tiempo.comparison === 'lower'">
                {{ tiempo == undefined ? "None" : tiempo.meatperhrandavgworker | number: '1.2-3'}}
              </p> -->
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-2 less-padding">
          <nb-card>
            <nb-card-body class="top-badges" >
              <p class="badge-txt">Horas totales de trabajo : <span class="badge-reading">
                {{ tiempo == undefined ? "None" : tiempo.eighthouestime }}
              </span></p>
              <p class="badge-txt">Conteo total de carnes : <span class="badge-reading">
                {{ tiempo == undefined ? "None" : tiempo.length }}
              </span></p>
              <div *ngFor="let zone of uniczones let i = index">
                <p class="badge-txt">Zona{{zone}} :<span *ngFor="let key of meatcount | keyvalue">
                    <ng-container *ngIf="key.key == zone">
                      {{ key.value }}
                    </ng-container>
                  </span> 
                </p>
              </div> 
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-2 less-padding">
          <nb-card>
            <nb-card-body class="top-badges">
              <p class="badge-txt">Tiempo    total  en  zona:  <br/><span class="badge-reading">
                {{ tiempo == undefined ? "None" : tiempo.dwellsum }} sec
              </span></p>
              <div *ngFor="let zone of helmetzones let i = index">
                <p class="badge-txt">Zona{{zone}} :<span *ngFor="let key of  dwellzones | keyvalue">
                    <ng-container *ngIf="key.key == zone">
                      <br/>{{ key.value }} sec
                    </ng-container>
                  </span> 
                </p>
              </div> 
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-6 less-padding">
          <nb-card>
            <nb-card-body class="top-badges">
              <p>Carnes en el tiempo</p>
              <chart type="line" [data]="dataL" [options]="optionsL"></chart>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 less-padding">
          <nb-card>
            <nb-card-body style="padding: 0px">
              <ng2-smart-table
                [settings]="settings"
                [source]="source"
                (edit)="got($event)"
              >
              </ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-5 less-padding" *ngIf="video">
          <nb-card>
            <nb-card-body align="center">
              <video
                controls
                (click)="toggleVideo($event)"
                #videoPlayer
                class="responsive"
                muted
                loop
                controls
                preload="none"
                style="width: 100%; height: 100%"
              >
                <source [src]="videoFile" type="video/mp4" />
                Browser not supported
              </video>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-md-12 no-padding" style="margin-top: 15px">
        <div class="row">
          <div class="col-md-8 less-padding">
            <nb-card>
              <nb-card-header>
                <h4>Live Output Feed</h4>
                <div align="center">
                </div>
              </nb-card-header>
              <nb-card-body>
                <div align="center">
                  <img [src]="rtspIn" style="width: 100%; height: auto" />
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </div>