
  <nb-card>
    <nb-card-header>
      <div class='col-md-6 offset-md-3'>
        <!-- <h4 align="left">
          {{ dateMessage }}
        </h4> -->
        <label *ngIf='now_user.role != "user"' align='right' for="noth" class="label">Remaining Cameras:&nbsp;</label>
        <strong  *ngIf='now_user.role != "user"'>{{remaining.cameras}}</strong>
        </div>
    </nb-card-header>
  
    <nb-card-body>

      <table class="table table-hover" id="myTable">
        <thead align='center'>
          <tr>
            <th scope="col"><h5>Name</h5></th>
            <th scope="col"><h5>Play</h5></th>
            <th scope="col"  *ngIf='now_user.role != "user"'><h5>Edit</h5></th>
            <th scope="col"  *ngIf='now_user.role != "user"'><h5><i class="far fa-dot-circle"></i>&nbsp;Algorithms</h5></th>
            <!-- <th scope="col" *ngIf='heatmap == true'><h5><i class="far fa-map"></i> &nbsp;Heatmap</h5></th> -->
            <th scope="col" *ngIf='now_user.role != "user"'><h5>Delete</h5></th>
          </tr>
        </thead>
        <tr *ngFor = "let camera of cams">
            <td scope="row"><h6 align='center' style='word-wrap: break-word;'>{{camera.name}}</h6></td>
            <td><button [routerLink]="['/pages/cameras/live/', camera.id]" class='btn-block' nbButton [status]="'warning'">
                <i class="fas fa-play"></i>
            </button></td>
            <td *ngIf='now_user.role != "user"'><button [routerLink]="['/pages/cameras/edit', camera.id]" class='btn-block' nbButton [status]="'info'">
            Edit
            </button></td>
            <td *ngIf='now_user.role != "user"'><button [routerLink]="['/pages/cameras/algorithms', camera.id]" class='btn-block' nbButton [status]="'info'">
              Algorithms
            </button></td>
              <!-- <td *ngIf='heatmap == true'><button [routerLink]="['/pages/cameras/heatmap', camera.id]" class='btn-block' nbButton [status]="'info'" [disabled]= 'camera.hm == undefined'>
                Heatmap
              </button></td> -->
            <td *ngIf='now_user.role != "user"'><button  class='btn-block' nbButton [status]="'danger'" (click)="deleteCamera(camera.id)">
              <i class="far fa-trash-alt"></i>
            </button></td>
        </tr>
        </table>
      
      </nb-card-body>
    </nb-card>
  