<div class="container no-padding">
    <div class="col-md-12 no-padding" style="margin-top: 15px">
      <div class="row justify-content-start">
        <div class="col-md-3 less-padding">
          <nb-card>
            <nb-card-body class="top-badges">
              <p class="badge-txt">Total</p>
              <p class="badge-reading">
                {{ direction == undefined ? "None" : direction.total }}
              </p>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-9 less-padding">
          <nb-card>
            <nb-card-body class="top-badges">
              <p>Over Time</p>
              <chart type="line" [data]="dataL" [options]="optionsL"></chart>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 less-padding">
          <nb-card>
            <nb-card-body style="padding: 0px">
              <ng2-smart-table
                [settings]="settings"
                [source]="source"
                (edit)="got($event)"
              >
              </ng2-smart-table>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-5 less-padding" *ngIf="video">
          <nb-card>
            <nb-card-body align="center">
              <video
                controls
                (click)="toggleVideo($event)"
                #videoPlayer
                class="responsive"
                muted
                loop
                controls
                preload="none"
                style="width: 100%; height: 100%"
              >
                <source [src]="videoFile" type="video/mp4" />
                Browser not supported
              </video>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-md-12 no-padding" style="margin-top: 15px">
        <div class="row">
          <div class="col-md-8 less-padding">
            <nb-card>
              <nb-card-header>
                <h4>Live Output Feed</h4>
                <div align="center">
                </div>
              </nb-card-header>
              <nb-card-body>
                <div align="center">
                  <img [src]="rtspIn" style="width: 100%; height: auto" />
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </div>