<div style="width: 35rem">
  <nb-card>
    <nb-card-header>
      <h6>Helpdesk Post Details</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="pb-2">
        <strong>NAME:&nbsp;</strong>
        <span>{{ modalData.account.username }}</span>
      </div>
      <div class="pb-2">
        <strong>USER ROLE:&nbsp;</strong>
        <span>{{ modalData.user_type }}</span>
      </div>
      <div class="pb-2">
        <strong>EMAIL:&nbsp;</strong>
        <span>{{ modalData.account.email }}</span>
      </div>
      <div class="pb-2">
        <strong>TITLE:&nbsp;</strong>
        <span>{{ modalData.title }}</span>
      </div>
      <div class="pb-2">
        <strong>MESSAGE:&nbsp;</strong>
        <span>{{ modalData.message }}</span>
      </div>

      <div class="pb-2">
        <strong>DATE:&nbsp;</strong>
        <span>{{ modalData.createdAt | date: "medium" }}</span>
      </div>

      <div *ngIf="modalData.http_in">
        <strong>IMAGE:&nbsp;</strong>
        <a [href]="modalData.http_in" target="_blank" rel="noopener noreferrer"
          >Click Here To Open Image</a
        >
        <br />
        <br />
        <p>
          <img [src]="modalData.http_in" style="width: 20%; height: 20%" />
        </p>
      </div>
    </nb-card-body>
    <nb-card-footer
      ><button class="btn-block" nbButton (click)="closeModal()">
        CLOSE
      </button></nb-card-footer
    >
  </nb-card>
</div>
