<nb-card>
  <nb-card-header>
    <h1 align='center'>RoI for {{algorithm.name}}</h1>
  </nb-card-header>
</nb-card>
          
                 <div class='buttons-row'>
                <button nbButton [status]="'success'" [routerLink]="['/pages/cameras/algorithms/'+ param]" (click)="saveWrong()" *ngIf='id == 8'>Save</button> 
                <button nbButton [status]="'success'" [routerLink]="['/pages/cameras/algorithms/'+ param]" (click)="nSave()" *ngIf='id != 8'>Save</button>
                <button nbButton [status]="'warning'" [routerLink]="['/pages/cameras/algorithms/', param]">Back</button>&nbsp;&nbsp;

                <!-- <button *ngIf="different == false" class="btn btn-info" (click)="close()">Confirm area</button> -->
                <button  nbButton [status]="'info'" *ngIf='id == 8' (click)="addPair()">Add new pair of areas</button>
                <!-- <button nbButton [status]="'primary'" (click)="info()">info</button> -->
                <button nbButton [status]="'primary'" (click)="undo()">Undo point</button>
                <button nbButton [status]="'primary'" (click)="clear_canvas()">Clear current unfinished area</button>
                <button nbButton [status]="'primary'" (click)="remove_last()">Remove previous area</button>
                <!-- <button nbButton [status]="'info'" (click)="pc($event)">Arrow</button> -->
              </div>
              <div class="p-1" *ngIf="showMyMessage1">
                  <div class="alert alert-danger col-md-4">
                    <strong>Oh snap!</strong> Check at least one vehicle.
                </div>
              </div>
              <div class="p-1" *ngIf="showMyMessage2">
                  <div class="alert alert-danger col-md-4">
                    <strong>Oh snap!</strong> Check all inputs.
                </div>
              </div>
              <div class="p-1" *ngIf="showMyMessage3">
                <div class="alert alert-danger col-md-4">
                    <strong>Oh snap!</strong> Please finish the direction before starting a new one.
                </div>
              </div>
              <div class="p-1" *ngIf="showMyMessage4">
              <div class="alert alert-danger col-md-4">
                  <strong>Oh snap!</strong> Each zone needs a beggining and an end.
              </div>
            </div>
            <div class="p-1" *ngIf="showMyMessage">
              <div class="alert alert-danger col-md-4">
                    <strong>Oh snap!</strong> Try adding more than two points.
                </div></div>

              <div class="col-md-12">
                <div class="p-2">
                    <!-- (mousedown)="id == 12 ? pc($event) : point_it($event)" -->
                        <div class="card border-info mb-3">
                  <canvas #polygon id="jPolygon" height='{{height}}' width='{{width}}' style="cursor:crosshair; background-repeat: no-repeat; background-size: 100% 100%;" (mousedown)="point_it($event)" [style.background-image]="link" oncontextmenu="return false;">
                    Your browser does not support the HTML5 canvas tag.
                  </canvas>

                  </div>
                </div>
                <div  *ngIf="id == 8">
                    <nb-card>
                      <nb-card-header>
                        <h3 align='center' style='word-wrap: break-word;'>
                          Instructions</h3>
                      </nb-card-header>
                      <nb-card-body align = 'center'>
                        Choose the correct direction of the street by drawing an region of interest and then another for the finish. This will set an angle from the central points of this two areas to define the direction.
                        <p>
                          If there are multiple streets on the view, choose new pair of areas per direction that is needed.
                        </p>
                        </nb-card-body>
                    </nb-card>
                </div>

                    <div *ngIf="id == 8">
                        <div class="row">
                          <div class="p-1 col-md-5">
                            <nb-card>
                              <nb-card-header>
                                <h5 align='center' style='word-wrap: break-word;'>
                                  Wrong way setting</h5>
                              </nb-card-header>
                              <nb-card-body>
                                <div class="form-group">
                                    <label class="label">Type</label>
                                      <nb-radio-group [(ngModel)]="wrong['dir']">      
                                        <nb-radio disabled
                                        [value]="'beggining'">
                                        Beggining
                                      </nb-radio>
                                      <nb-radio disabled
                                      [value]="'end'">
                                        End
                                      </nb-radio>
                                      </nb-radio-group>
                                    <label for="from" class="label">From:&nbsp;</label>
                                    <input type="text" nbInput id='from' fieldSize="small" [status]="'primary'" disabled size='5' value="Area {{wrong['of'] + 1}}">
                                   <div class="dropdown-divider"></div>
                            <nb-checkbox *ngIf="algos[13]['activated'] == true" [(ngModel)]="wrong['anpr']">Licence plate detector</nb-checkbox>
                            <nb-checkbox *ngIf="algos[13]['activated'] == false || algos[13]['activated'] == undefined" [(ngModel)]="wrong['anpr']" disabled >Licence plate detector</nb-checkbox>
                          </div>
                                </nb-card-body>
                            </nb-card>
                          </div>
                          <div class="p-1 col-md-2">
                            <nb-card>
                              <nb-card-header>
                                <h5 align='center' style='word-wrap: break-word;'>
                                  List of areas</h5>
                              </nb-card-header>
                              <nb-card-body>
                                <ul>
                                  <li *ngFor='let pol of polygons; index as i' (click)='get_dir(i)'>Area {{i+1}}</li>
                                </ul>
                                </nb-card-body>
                            </nb-card>
                          </div>

                  <div class="p-1 col-md-5">
                    <nb-card>
                      <nb-card-header>
                        <h5 align='center' style='word-wrap: break-word;'>
                          Wrong way setting of Area {{wrong0['id'] + 1}}</h5>
                      </nb-card-header>
                      <nb-card-body>
                        <div class="form-group">
                          <label class="label">Type</label>
                          <nb-radio-group [(ngModel)]="wrong0['dir']">      
                            <nb-radio disabled
                            [value]="'beggining'">
                            Beggining
                          </nb-radio>
                          <nb-radio disabled
                          [value]="'end'">
                            End
                          </nb-radio>
                          </nb-radio-group>
                            <label for="from1" class="label">From:&nbsp;</label>
                          <input type="text" id='from1' nbInput fieldSize="small" [status]="'primary'" disabled size='5' value="Area {{wrong0['of'] + 1}}">
                           <div class="dropdown-divider"></div>
                    <nb-checkbox  [(ngModel)]="wrong0['anpr']" disabled >Licence plate detector</nb-checkbox>
                  </div>
                        </nb-card-body>
                    </nb-card>
                  </div>

                    </div>
                    </div>
                    <div *ngIf="id == 4">
                      <div class="row">
                        <div class="p-3">
                        <nb-card>
                          <nb-card-header>
                            <h3 align='center' style='word-wrap: break-word;'>
                              Parking Violation</h3>
                          </nb-card-header>
                          <nb-card-body>
                            <div class="form-group">
                              <ul style="list-style-type:none;">
                              <li><nb-checkbox  [(ngModel)]="parking['car']">Car</nb-checkbox></li>
                              <li><nb-checkbox  [(ngModel)]="parking['truck']">Truck</nb-checkbox></li>
                              <li><nb-checkbox  [(ngModel)]="parking['motorbike']">Two wheeler</nb-checkbox></li>
                            </ul>
                              <div class="dropdown-divider"></div>
                              <div align='center'>
                              <label for="from3" class="label">Permited time</label><br>
                              <input type="number" nbInput id='from3' fieldSize="small" [(ngModel)]="parking['time']" min="0" max="120"> <label for="from3" class="label"> &nbsp;minutes</label><br>
                            </div>
                      
                      <div class="dropdown-divider"></div>
                      <div align='right'>
                        <label for="from4" class="label"> From:&nbsp;</label>
                        <input type="time" nbInput id='from4' fieldSize="small" [(ngModel)]="parking['rangeB']"min="0" max="120"><br>
                          <label for="from5" class="label">to:&nbsp;</label>
                          <input type="time" nbInput id='from5' fieldSize="small" [(ngModel)]="parking['rangeE']" min="0" max="120"> 
                        </div>
                        <div class="dropdown-divider"></div>

                            <nb-checkbox *ngIf="algos[13]['activated'] == true" [(ngModel)]="wrong['anpr']">Licence plate detector</nb-checkbox>
                            <nb-checkbox *ngIf="algos[13]['activated'] == false || algos[13]['activated'] == undefined" [(ngModel)]="wrong['anpr']" disabled >Licence plate detector</nb-checkbox> 
                              </div>                              
                              <div class="dropdown-divider"></div>
                          <div align='center' *ngIf='selected != undefined'>
                            <button class='btn btn-info btn-sm' (click)='close_park()'>Update</button>
                          </div>
                          </nb-card-body>
                        </nb-card>       
                      </div>
                      <div class="p-3">
                        <nb-card>
                          <nb-card-header>
                            <h3 align='center' style='word-wrap: break-word;'>
                              List of areas</h3>
                          </nb-card-header>
                          <nb-card-body>
                            <ul>
                              <li *ngFor='let pol of polygons; index as i' (click)='get(i)'>Area {{i+1}}</li>
                            </ul>
                            </nb-card-body>
                        </nb-card>
                      </div>
                    </div>
                      </div>

              </div>