  <nb-card>
    <nb-card-body>
      <div style='margin-bottom: 10px;' class='row'>
        <input class="search" nbInput type="text" placeholder="Search..." [(ngModel)]="searchStr" (ngModelChange)="search(searchStr)">
        <nb-select [(ngModel)]='searchWr' style="margin-left: 5px;" (ngModelChange)=check()>
          <nb-option value="" disabled>Choose where to filter:</nb-option>
          <nb-option *ngFor='let obj of searchFields' [value]="obj.value">{{obj.show}}</nb-option>
        </nb-select>
        <div *ngIf="show" class="text-danger">
          <small>Choose a field to search.</small>
      </div>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (create)='hola2()' (edit)='hola1($event)' (delete)='hola3($event)'>
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>