<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row justify-content-start">
            <div class="col-md-3 less-padding">
                <nb-card>
                    <nb-card-body class = "top-badges">
                        <p class = "badge-txt">Total</p>
                        <p class = "badge-reading">{{social.length == 0 ? 'None' : social.total}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3 less-padding">
                <nb-card>
                    <nb-card-body class = "top-badges">
                        <p class = "badge-txt">Severe</p>
                        <p class = "badge-reading">{{social.length == 0 ? 'None' : social.types['2']}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3 less-padding">
                <nb-card>
                    <nb-card-body class = "top-badges">
                        <p class = "badge-txt">Moderate</p>
                        <p class = "badge-reading">{{social.length == 0 ? 'None' : social.types['1']}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3 less-padding">
                <nb-card>
                    <nb-card-body class = "top-badges">
                        <p class = "badge-txt">Mild</p>
                        <p class = "badge-reading">{{social.length == 0 ? 'None' : social.types['0']}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                    <nb-card-body>
                        <p>Over Time</p>
                        <chart type="line" [data]="dataL" [options]="optionsL"></chart>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 less-padding">
                <nb-card>
                    <nb-card-body style = "padding: 0px">
                        <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 less-padding" *ngIf=video>
                <nb-card>
                    <nb-card-body align='center' style = "min-height: 300px">
                        <video controls (click)="toggleVideo($event)" #videoPlayer class="responsive" muted loop controls preload="none">
                            <source [src]="videoFile" type="video/mp4"/>
                            Browser not supported
                        </video>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
</div>
