<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row justify-content-start">
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">People in Queue</p>
                        <p class = "badge-reading">Total: {{queue == undefined ? 'None' : queue.count}}</p>
                        <p class = "badge-reading" *ngFor="let qu of queues">
                            <button class="btn btn-sm btn-success" disabled *ngIf="qu.amount < 3"><i class="fas fa-battery-empty"></i></button>
                            <button class="btn btn-sm btn-warning" disabled *ngIf="qu.amount >= 3 && qu.amount < 5"><i class="fas fa-battery-half"></i></button>
                            <button class="btn btn-sm btn-danger" disabled *ngIf="qu.amount >= 5"><i class="fas fa-battery-full"></i></button>
                            Queue {{qu.zone}}: {{qu.amount}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Avg Wait Time</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.avg}} min</p> 
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Fastest Queue</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.min}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Slowest Queue</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.max}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                  <nb-card-body class="top-badges">
                    <p>Alerts over time</p>
                    <chart type="line" [data]="dataL2" [options]="optionsL2"></chart>
                  </nb-card-body>
                </nb-card>
              </div>
        </div> -->
        <div class="row">
            <div class="col less-padding">
                <nb-card>
                    <nb-card-body class = "graph-body" style = "padding: 0px">
                        <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 less-padding" *ngIf=video>
                <nb-card>
                    <nb-card-body align='center' class = "graph-body">
                        <video controls (click)="toggleVideo($event)" #videoPlayer class="responsive" muted loop controls preload="none"  style = "width: 100%;height: 100%">
                            <source [src]="videoFile" type="video/mp4"/>
                            Browser not supported
                        </video>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row">
          <div class="col-md-8 less-padding">
            <nb-card>
                <nb-card-header>
                  <h4>Live Output Feed</h4>
                </nb-card-header>
                <nb-card-body>
                  <div align='center'>
                    <iframe frameBorder="0" height="100%" width="100%" style="width:100%;height:100%;min-height:800px" [src]="rtspIn">
                    </iframe>
                    <canvas #streaming id="canvas" width="640" height="480"
                      style="display: block; width: 640px !important; height: 480px !important;"></canvas>
                  </div>
                </nb-card-body>
              </nb-card>
          </div>
        </div>
      </div>
</div>
