<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 30px;">
        <div class="row justify-content-start">
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">People in Queue</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.count}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Avg Wait Time</p>
                        <p class = "badge-reading">{{queue && queue.avg ? 'None' : queue.avg}} min</p> 
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Fastest Queue</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.min}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Slowest Queue</p>
                        <p class = "badge-reading">{{queue == undefined ? 'None' : queue.max}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col less-padding">
                <nb-card>
                    <nb-card-body class = "graph-body">
                        <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 less-padding">
                <nb-card>
                    <nb-card-body align='center' class = "graph-body">
                        <!-- <canvas #streaming id="canvas"  width="640" height="480" style="display: block; width: 90%;"></canvas> -->
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
</div>
