<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row justify-content-start">
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Personas en el periodo</p>
                        <p class = "badge-reading">Total: {{queue == undefined ? '0' : queue.count}}</p>
                        <p class = "badge-reading" *ngFor="let qu of queues">
                            <!-- <button class="btn btn-sm btn-success" disabled *ngIf="qu.amount < 3"><i class="fas fa-battery-empty"></i></button>
                            <button class="btn btn-sm btn-warning" disabled *ngIf="qu.amount >= 3 && qu.amount < 5"><i class="fas fa-battery-half"></i></button>
                            <button class="btn btn-sm btn-danger" disabled *ngIf="qu.amount >= 5"><i class="fas fa-battery-full"></i></button> -->
                            Fila {{qu.zone}}: {{qu.amount}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Tiempo de espera medio: {{queue == undefined ? '0' : queue.avg}} min</p>
                        <p class = "badge-reading" *ngFor="let avg of avgss; let i = index">
                            Fila {{i + 1}}: {{avg}} min</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Fila mas rapida</p>
                        <p class = "badge-reading">{{queue == undefined ? 'Ninguna' : queue.min}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col less-padding">
                <nb-card class = "top-badges">
                    <nb-card-body>
                        <p class = "badge-txt">Fila mas lenta</p>
                        <p class = "badge-reading">{{queue == undefined ? 'Ninguna' : queue.max}}</p>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                  <nb-card-body class="top-badges">
                    <p>Personas en el periodo</p>
                    <chart type="line" [data]="dataP" [options]="options"></chart>
                  </nb-card-body>
                </nb-card>
              </div>
        </div>
        <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                  <nb-card-body class="top-badges">
                    <p>Alertas altas en el periodo</p>
                    <chart type="line" [data]="dataH" [options]="options"></chart>
                  </nb-card-body>
                </nb-card>
              </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                  <nb-card-body class="top-badges">
                    <p>Medium alerts over time</p>
                    <chart type="line" [data]="dataM" [options]="options"></chart>
                  </nb-card-body>
                </nb-card>
              </div>
        </div>
        <div class="row">
            <div class="col-md-12 less-padding">
                <nb-card>
                  <nb-card-body class="top-badges">
                    <p>Low alerts over time</p>
                    <chart type="line" [data]="dataL" [options]="options"></chart>
                  </nb-card-body>
                </nb-card>
              </div>
        </div> -->
        <div class="row">
            <div class="col less-padding">
                <nb-card>
                    <nb-card-header>
                      <button (click)='csv("alerts")' nbButton outline status="info" size = "tiny">Descargar data de Alertas</button>
                      <button (click)='csv("count")' nbButton outline status="info" size = "tiny">Descargar data de Personas</button>
                    </nb-card-header>
                    <nb-card-body class = "graph-body" style = "padding: 0px">
                        <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-4 less-padding" *ngIf=video>
                <nb-card>
                    <nb-card-body align='center' class = "graph-body">
                        <video controls (click)="toggleVideo($event)" #videoPlayer class="responsive" muted loop controls preload="none"  style = "width: 100%;height: 100%">
                            <source [src]="videoFile" type="video/mp4"/>
                            Browser not supported
                        </video>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

    </div>
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row">
          <div class="col-md-8 less-padding">
            <nb-card>
                <nb-card-header>
                  <h4>Camara en tiempo real</h4>
                </nb-card-header>
                <nb-card-body>
                  <div align='center'>
                    <iframe frameBorder="0" height="100%" width="100%" style="width:100%;height:100%;min-height:800px" [src]="rtspIn">
                    </iframe>
                    <canvas #streaming id="canvas" width="640" height="480"
                      style="display: block; width: 640px !important; height: 480px !important;"></canvas>
                  </div>
                </nb-card-body>
              </nb-card>
          </div>
        </div>
      </div>
</div>
