<nb-card>
  <nb-card-header *ngIf="!camera">
    <h4>{{ live.name }}</h4>
  </nb-card-header>
  <nb-card-body>
    <div align="center" *ngIf="unZippedVideoMessage">
      <span>{{ unZippedVideoMessage }}</span>
    </div>

    <div align="center" *ngIf="!unZippedVideoMessage">     
      <vg-player>
        <video
          autoplay
          #media
          [vgMedia]="media"
          id="singleVideo"
          preload="auto"
          *ngIf="isHttpStream"
          [src]="rtspIn"
          controls
          style="width: 100%; height: auto"
        ></video>
      </vg-player>

      <canvas
        #streaming
        id="canvas"
        width="640"
        height="480"
        style="
          display: block;
          width: 640px !important;
          height: 480px !important;
        "
        *ngIf="!isHttpStream"
      ></canvas>
    </div>

    <div class="p-2" *ngIf="!camera">
      <button
        nbButton
        [status]="'primary'"
        class="btn-block"
        [routerLink]="['/pages/search/list']"
      >
        <i class="fas fa-arrow-circle-left"></i>&nbsp; Go Back
      </button>
    </div>
  </nb-card-body>
</nb-card>
