<div class="container no-padding">
    <div class='col-md-12 no-padding' style="margin-top: 15px;">
        <div class="row justify-content-start">
            <div class="col-md-3">
                <nb-card>
                    <nb-card-body>
                        <p>Total</p>
                        <strong>{{smoking == undefined ? 'None' : smoking.total}}</strong>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-9">
                <nb-card>
                    <nb-card-body>
                        <p>Over Time</p>
                        <chart type="line" [data]="dataL" [options]="optionsL"></chart>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nb-card>
                    <nb-card-body>
                        <ng2-smart-table [settings]="settings" [source]="source" (edit)='got($event)'>
                        </ng2-smart-table>
                    </nb-card-body>
                </nb-card>
            </div>

        </div>

    </div>
</div>