<form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>
    <label for="password" class="label">Password</label>
    <input [type]="typePass" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" nbInput fullWidth id="password" autofocus placeholder="Password" [status]='values.password' />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 10 characters</div>
        <div *ngIf="f.password.errors.pattern">Password must contain at least 1 uppercase, 1 lowercase, 1 number and a special character ( # ? ! @ $ % ^ & * - _ )</div>
  </div>
    <label for="confirmPassword" class="label">Confirm Password</label>
    <input [type]="typePass" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" nbInput fullWidth id="confirmPassword" autofocus placeholder="Confirm Password" [status]='values.confirmPassword' />
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
  </div>

  <div class="form-group">
    <nb-checkbox [(ngModel)]='view' (ngModelChange)='changeView()' [ngModelOptions]="{standalone: true}">View Password</nb-checkbox>
  </div>
<div class='p-2'>
  <button [status]="'success'" nbButton class="btn-block" *ngIf="is_saving == false">Confirm Change</button>
  <button [status]="'success'" disabled nbButton class="btn-block" *ngIf="is_saving == true" [nbSpinner]="is_saving" nbSpinnerSize="medium" nbSpinnerStatus="primary">&nbsp;</button>
</div>
</form>