<form [formGroup]="registerForm" (ngSubmit)='onSubmit()'>
    <label for="password" class="label">Clave</label>
    <input [type]="typePass" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" nbInput fullWidth id="password" autofocus placeholder="Clave" [status]='values.password' />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">La clave es requerida</div>
      <div *ngIf="f.password.errors.minlength">La clave debe contener al menos 10 caracteres</div>
      <div *ngIf="f.password.errors.pattern">La clave debe contener al menos: 1 mayuscula, 1 minuscula, 1 numero y un caracter especial ( # ? ! @ $ % ^ & * - _ )</div>
  </div>
    <label for="confirmPassword" class="label">Confirmar clave</label>
    <input [type]="typePass" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" nbInput fullWidth id="confirmPassword" autofocus placeholder="Confirmar clave" [status]='values.confirmPassword' />
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">La clave debe ser confirmada</div>
      <div *ngIf="f.confirmPassword.errors.mustMatch">La clave debe ser exacta</div>
  </div>

  <div class="form-group">
    <nb-checkbox [(ngModel)]='view' (ngModelChange)='changeView()' [ngModelOptions]="{standalone: true}">Ver clave</nb-checkbox>
  </div>
<div class='p-2'>
  <button [status]="'success'" nbButton class="btn-block" *ngIf="is_saving == false">Confirmar cambios</button>
  <button [status]="'success'" disabled nbButton class="btn-block" *ngIf="is_saving == true" [nbSpinner]="is_saving" nbSpinnerSize="medium" nbSpinnerStatus="primary">&nbsp;</button>
</div>
</form>