
  <nb-card>
    <nb-card-body>
        <div align="center">
        <div id="testNotSameName" [ngStyle]='style()'>
            <img [(src)]="camera.heatmap_pic" [ngStyle]='style()'>
        </div>
    </div>
<br>
<div class="row">
    <div class="col-md-6" align='center'>
        <input nbInput placeholder="Range Picker" [nbDatepicker]="rangepicker">
        <nb-rangepicker #rangepicker [max]="max" [(range)]="range"></nb-rangepicker>
        <div class="p-2">
        <button  nbButton [status]="'success'" [disabled]="range == undefined" (click)="getHms(range.start,range.end)"><i class="grid-outline"></i>&nbsp; &nbsp;Generate from ranges&nbsp;&nbsp;</button>
    </div>
</div>
<div class="col-md-6" align='center'>
          <div style="margin-top: 20px;">
          <button  nbButton [status]="'success'" (click)="getAll()"><i class="keypad-outline"></i>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;Generate All data&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</button>
        </div>
</div>

<br>


</div>
<br>
<a class="btn-block" nbButton [status]="'warning'" [href]="['/pages/cameras/heatmap/'+ id]">Erase data</a>
<hr>
<button class="btn-block" nbButton [status]="'primary'" [routerLink]="['/pages/camerasList']"><i class="arrow-ios-back-outline"></i>Back</button>
</nb-card-body>
</nb-card>
